<launch>

  <!-- ===================== compulsory args ==================== -->
  <arg name="RUN_TYPE" default="$(optenv RUN_TYPE UNSET)" />
  <arg name="UAV_NAME" default="$(optenv UAV_NAME UNSET)" />

  <!-- check if they are set -->
  <arg if="$(eval arg('RUN_TYPE') == 'UNSET')" name="SET_RUN_TYPE_ENV_VARIABLE" default="$(env MISSING_RUN_TYPE)" />
  <arg if="$(eval arg('UAV_NAME') == 'UNSET')" name="SET_UAV_NAME_ENV_VARIABLE" default="$(env MISSING_UAV_NAME)" />

    <!-- ====================== optional args ===================== -->
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="BODY_DISTURBANCE_X" default="$(optenv INITIAL_DISTURBANCE_X 0.0)" />
  <arg name="BODY_DISTURBANCE_Y" default="$(optenv INITIAL_DISTURBANCE_Y 0.0)" />
  <arg name="DEBUG" default="$(optenv DEBUG false)" />
  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)" />
  <arg name="UAV_MASS" default="$(optenv UAV_MASS)" />

  <!-- config files -->
  <arg name="platform_config" default="$(optenv PLATFORM_CONFIG)" />
  <arg name="custom_config" default="$(optenv CUSTOM_CONFIG)" />
  <arg name="world_config" default="$(optenv WORLD_CONFIG)" />
  <arg name="network_config" default="$(optenv NETWORK_CONFIG)" />

  <arg if="$(eval not arg('LOGGER_DEBUG'))" name="STANDALONE" default="$(optenv STANDALONE false)" />
  <arg if="$(eval arg('LOGGER_DEBUG'))" name="STANDALONE" default="true" />

  <arg name="nodelet_manager" default="$(optenv NODELET_MANAGER)" />
  <arg name="bond" default="$(optenv BOND true)" />

  <arg if="$(eval arg('nodelet_manager') == '')" name="nodelet_manager_name" default="$(arg UAV_NAME)_nodelet_manager" />
  <arg if="$(eval arg('nodelet_manager') != '')" name="nodelet_manager_name" default="$(arg nodelet_manager)" />

  <!-- check for ROS_MASTER_URI -->
  <!-- ROS_MASTER_URI has to be set to http://localhost:11311 -->
  <arg if="$(eval arg('RUN_TYPE') == 'realworld')" name="ROS_MASTER_URI" default="$(optenv ROS_MASTER_URI none)" />
  <arg if="$(eval arg('RUN_TYPE') == 'realworld' and arg('ROS_MASTER_URI') != 'http://localhost:11311')" name="SET_YOUR_ROS_MASTER_URI_TO_LOCALHOST" default="$(env MISSING_ROS_MASTER_URI)" />

  <arg name="g" default="9.81" />
  <arg name="n_threads" default="16" />

    <!-- NodeletManager //{ -->

  <group ns="$(arg UAV_NAME)" if="$(eval arg('STANDALONE') == 0 and arg('nodelet_manager') == '')">
    <include file="$(find mrs_uav_core)/launch/nodelet_manager.launch">

      <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
      <arg name="debug" value="$(arg DEBUG)" />
      <arg name="n_threads" value="$(arg n_threads)" />

    </include>
  </group>

  <!-- //} -->

  <!-- ControlManager //{ -->

  <include file="$(find mrs_uav_managers)/launch/control_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg if="$(eval arg('RUN_TYPE') == 'realworld')" name="UAV_MASS" value="$(arg UAV_MASS)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="BODY_DISTURBANCE_X" value="$(arg BODY_DISTURBANCE_X)" />
    <arg name="BODY_DISTURBANCE_Y" value="$(arg BODY_DISTURBANCE_Y)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="bond" value="$(arg bond)" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
    <arg name="g" value="$(arg g)" />

    <arg name="platform_config" value="$(arg platform_config)" />
    <arg name="custom_config" value="$(arg custom_config)" />
    <arg name="world_config" value="$(arg world_config)" />
    <arg name="network_config" value="$(arg network_config)" />

  </include>

  <!-- //} -->

  <!-- EstimationManager //{ -->

  <include file="$(find mrs_uav_managers)/launch/estimation_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="bond" value="$(arg bond)" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />

    <arg name="platform_config" value="$(arg platform_config)" />
    <arg name="custom_config" value="$(arg custom_config)" />
    <arg name="world_config" value="$(arg world_config)" />

  </include>

  <!-- //} -->

  <!-- TransformManager //{ -->

  <include file="$(find mrs_uav_managers)/launch/transform_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="bond" value="$(arg bond)" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />

    <arg name="platform_config" value="$(arg platform_config)" />
    <arg name="custom_config" value="$(arg custom_config)" />
    <arg name="world_config" value="$(arg world_config)" />

  </include>

  <!-- //} -->

  <!-- ConstraintManager //{ -->

  <include file="$(find mrs_uav_managers)/launch/constraint_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="bond" value="$(arg bond)" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />

    <arg name="platform_config" value="$(arg platform_config)" />
    <arg name="custom_config" value="$(arg custom_config)" />

  </include>

  <!-- //} -->

  <!-- GainManger //{ -->

  <include file="$(find mrs_uav_managers)/launch/gain_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="bond" value="$(arg bond)" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />

    <arg name="platform_config" value="$(arg platform_config)" />
    <arg name="custom_config" value="$(arg custom_config)" />

  </include>

  <!-- //} -->

  <!-- UavManager //{ -->

  <include file="$(find mrs_uav_managers)/launch/uav_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg if="$(eval arg('RUN_TYPE') == 'realworld')" name="UAV_MASS" value="$(arg UAV_MASS)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="bond" value="$(arg bond)" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
    <arg name="g" value="$(arg g)" />

    <arg name="platform_config" value="$(arg platform_config)" />
    <arg name="custom_config" value="$(arg custom_config)" />
    <arg name="world_config" value="$(arg world_config)" />

  </include>

  <!-- //} -->

  <!-- Trajectory generation //{ -->

  <include file="$(find mrs_uav_trajectory_generation)/launch/trajectory_generation.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="platform_config" value="$(arg platform_config)" />
    <arg name="custom_config" value="$(arg custom_config)" />

    <arg name="bond" value="$(arg bond)" />
    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />

  </include>

  <!-- //} -->

  <!-- MRS Status //{ -->

  <include file="$(find mrs_uav_status)/launch/acquisition.launch" >

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />

    <arg name="platform_config" value="$(arg platform_config)" />
    <arg name="custom_config" value="$(arg custom_config)" />

  </include>

  <!-- //} -->

</launch>
